/* Styles.CSS */

.one {
    background-color: rgb(250, 106, 106);
    font-size: 12px;
}

.one-cool {
    font-size: 24px;
}

#two {
background-color: white;
color: rgb(59, 59, 199);
font-weight: bold;
font-size: 38px;
}

#four {
background-color: rgb(89, 167, 89);
font-weight: bold;
font-size: 24px;
}